<div class="card">
  <div class="card-body">
    <form (submit)="addRecipe(newName, newDescription)">
      <div class="form-group mt-2">
        <input type="text" class="form-control" placeholder="Recipe name" name="name" #newName>

      </div>
      <div class="form-group mt-2">
        <textarea class="form-control" #newDescription placeholder="Recipe description" name="description"></textarea>

      </div>
      <button class="btn btn-primary btn-block mt-2">Send</button>
    </form>
  </div>
</div>
